*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --button-add: rgb(0, 255, 0);
    --button-remove: rgb(255, 0, 0);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

